.main-content {
    margin-top: 15px;
    margin-left: 240px;
    background: #fafbfd;

    .col-sm-6:nth-child(odd) {
        padding-right: 7.5px
    }
    .col-sm-6:nth-child(even) {
        padding-left: 7.5px
    }
}
