math {
    font-family: 'Computer Modern';
    font-size: 19px;
}
.table {
    thead {
        th {
            vertical-align: middle!important;
        }
    }
}
.article-image {
    height: 400px;
    background-size: cover!important;
    background-position: center!important;
}
